@namespace NeoUI.Blazor
@* ContextMenuSubContent - styled submenu content *@
<ContextMenuSubContentPrimitive CloseOnEscape="@CloseOnEscape"
                                                        Offset="@Offset"
                                                        ZIndex="@ZIndex"
                                                        class="@GetClass()"
                                                        @attributes="AdditionalAttributes">
    <div class="@InnerCssClass">
        <CascadingValue Name="StyleVariant" Value="_styleVariant" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</ContextMenuSubContentPrimitive>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool CloseOnEscape { get; set; } = true;

    [Parameter]
    public int Offset { get; set; } = -4;

    [Parameter]
    public int ZIndex { get; set; } = ZIndexLevels.PopoverContent;

    [Parameter]
    public string? Class { get; set; }

    [CascadingParameter(Name = "StyleVariant")]
    private StyleVariant _styleVariant { get; set; } = StyleVariant.Default;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string GetClass() =>
        ClassNames.cn(
            $"z-{ZIndex} min-w-[8rem] no-focus-ring overflow-hidden rounded-md border bg-popover text-popover-foreground shadow-lg",
            "data-[state=open]:animate-in data-[state=closed]:animate-out",
            "data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0",
            "data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95",
            _styleVariant.GetClasses("ContextMenu.SubContent"),
            Class
        );

    private string InnerCssClass => ClassNames.cn("p-1", _styleVariant.GetClasses("Menu.Inner"));
}
