@namespace BlazorUI.Components.Button

<button
    type="@HtmlType"
    class="@CssClass"
    disabled="@Disabled"
    tabindex="@(Disabled ? -1 : 0)"
    aria-label="@AriaLabel"
    aria-disabled="@Disabled.ToString().ToLower()"
    @onclick="HandleClick"
    @attributes="AdditionalAttributes">
    @if (Icon != null && IconPosition == IconPosition.Start)
    {
        <span class="me-2">@Icon</span>
    }
    @ChildContent
    @if (Icon != null && IconPosition == IconPosition.End)
    {
        <span class="ms-2">@Icon</span>
    }
</button>
