@namespace BlazorUI.Components.Progress

<div role="progressbar" 
     aria-valuenow="@Value" 
     aria-valuemin="0" 
     aria-valuemax="@Max"
     class="@CssClass">
    <div class="@IndicatorCssClass" style="@IndicatorStyle"></div>
</div>
