@namespace BlazorUI.Components.Chart
@typeparam TItem where TItem : class
@inherits ChartBase<TItem>

<div class="@ContainerCssClass" data-slot="pie-chart" @attributes="AdditionalAttributes">
    <ApexChart TItem="TItem"
               Title="@Title"
               Options="@_options"
               Height="@Height"
               Width="@Width">
        @ChildContent
    </ApexChart>
</div>
