@namespace NeoUI.Blazor
<Button
    Type="@Type"
    Variant="@Variant"
    Size="@Size"
    Disabled="@Disabled"
    AriaLabel="@AriaLabel"
    OnClick="@OnClick"
    Icon="@Icon"
    IconPosition="@IconPosition"
    Class="@CssClass">
    @ChildContent
</Button>
